@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --background-color: #ffffff;
  --dark-blue: #10151F;
  --dark-blue2: #3E424A;
  --border-color: #E1DFE1;
  --orange-color: #FF4000;
  --hover-bg-color: #cfcbcb8a;
  --img-bg-color: #ced6e045;
  --overlay-bg-color: #00000060;  
}

body {
    box-sizing: content-box;
    width: 1920px;
    min-height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    font-family: 'Poppins', sans-serif;
    border: 1px solid black;

  color: var(--dark-blue);

}

#root {
  position: relative;
  
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  color-scheme: light;
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}


.required {
  color: var(--orange-color);
}

.orange-btn{
  background-color: var(--orange-color);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.small-btn{
  height: 41px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
}

.big-btn{
  height: 59px;
  padding: 16px 60px;
  font-size: 18px;
  font-weight: 500;
}




.icon-wrapper-tiny:hover
,.icon-wrapper-small:hover
,.icon-wrapper-big:hover
,.icon-wrapper-large:hover{
  background-color: var(--hover-bg-color);
}

.icon-wrapper-tiny{
    position: relative;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.icon-wrapper-small{
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.icon-wrapper-medium{
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-wrapper-big{
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon-wrapper-large{
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.icon-wrapper-huge{
  position: relative;
  width: 100px;
  height: 100px;
}

.product-img{
    background-blend-mode: multiply;
    background-size: contain;
    background-color: var(--img-bg-color);
}

dialog{
  color: var(--dark-blue);
}