.auth-page{
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.auth-img-container{
    width: 948px;
    height: 1000px;
    background-image: url('../assets/auth-image.png');
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 2000px 1200px;
}

.auth-component-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.auth-form-container{
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 150px;
    width: 554px;
}

.auth-form-title {
    font-size: 42px;
    font-weight: 600;
    align-self: flex-start;
}

.auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 46px;
    width: 100%;
}

.auth-input-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}






.register-link{
    margin-top: -24px;
}

.register-link>span{
    color: var(--orange-color);
    cursor: pointer;
}

.register-link>span:hover{
    text-decoration: underline;
}

