.available-size{
    cursor: pointer;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 8px;
    width: 70px;
    height: 42px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    transition: border 0.2s ease;
}

.available-size input{
    display: none;
}

.available-size span{
    padding: 9px 16px;
}