.shoppingCart-empty{
  margin-top: 151px;
  margin-bottom:24px;
  color: var(--dark-blue);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.huge-cart{
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
}

.ops{
  font-size: 24px;
  font-weight: 600;
  margin: 25px;
}

.emptyCart-btn{
  margin-top: 60px;
  width: 214px;
}




.shoppingCart-list{
    display: flex;
    flex-direction: column;
    gap: 36px;
    max-height: 600px;
    overflow-y: scroll;
}


.shoppingCart-list::-webkit-scrollbar {
  width: 10px;
}

.shoppingCart-list::-webkit-scrollbar-thumb {
  background-color: #0000004d;
  border-radius: 4px;
}

.shoppingCart-list::-webkit-scrollbar-thumb:hover {
    background-color: #00000080;
}



.shoppingCart-checkout{
    display: flex;
    flex-flow: column;
    gap: 102px;
}

.shoppingCart-details{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.shoppingCart-details div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shoppingCart-details-total{
    font-size: 20px;
    font-weight: 500;
}

