.checkout-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.checkout-page-title{
    font-size: 42px;
    font-weight: 600;
    padding: 72px 0 42px 100px;
}

.checkout-container {
    height: 635px;
    display: flex;
    flex-flow: row wrap;
    gap: 131px;
    padding: 0px 0px 188px 100px;
    align-content: flex-start;
}

.checkout-form{
    width: 1129px;
    height: 635px;
    border-radius: 16px;
    background-color: var(--grey);
    
}

.checkout-form-container{
    padding: 72px 0 0 47px;
    display:flex;
    flex-direction: column;
    gap: 33px;
    align-items: flex-start;

}

.checkout-form-title{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 13px;
}


.checkout-form-wrapper{
    display: flex;
    gap: 24px;
    width: 578px;
}

.checkout-form-wrapper > input{
    flex: 1;
}

.checkout-success-modal {
  padding: 30px;
  border: 1px solid var(--grey);
  border: none;
  position: fixed;
  z-index: 2000;
}
.modal-content {
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.checkout-success-modal::backdrop {
  background: var(--overlay-bg-color);
}


.checkout-close{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 10px;
}

.successful-checkout-container{
    padding: 84px 321px 145px 321px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.check{
    position: absolute;
width: 36px;
height: 29px;
top: 24px;
left: 20px;
}

.successful-checkout-container-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 34px;
}

.successful-checkout-container-text > p{
    font-size: 42px;
    font-weight: 600;
}

.successful-checkout-container-text > span{
    font-size: 14px;
}