.filter-summary {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}


.filter {
  position: absolute;
  width: 16.5px;
  height: 15px;
  top: 4.5px;
  left: 3.75px;
}



.filter-dropdown {
  width: 392px;
}

.filter-dropdown-container {
  padding: 16px;
  gap: 20px;
}

.filter-dropdown p {
  align-self: flex-start;
  font-weight: 600;
  font-size: 16px;
}

.filter-form {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.filter-input-container {
  display: flex;
  flex-flow: row;
  gap: 10px;
}

.filter-input-wrapper {
  position: relative;
  width: 250px;
}

.apply-btn {
  align-self: flex-end;
  width: 124px;
}