.header{
    height: 80px;
}

.header,
.header_nav,
.header_logo-container,
.header_auth-container,
.header_log-container{
    display: flex;
    align-items: center;
}

.header_nav{
    flex-grow: 1;
    flex-flow: row;
    justify-content: space-between;
    padding: 10px 100px;
}

.header_logo-container{
    flex-flow: row;
    height: 24px;
    gap: 4px;
}

.logo-wrapper{
    width: 24px;
    height: 24px;
    position: relative;
}

.logo{
    position: absolute;
    width: 16.5px;
    height: 21px;
    top: 1.5px;
    left: 3.75px;
}

.header_logo-text{
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 120%;
}


.header_auth-container{
    gap: 8px;
}

.avatar-wrapper{
    width: 20px;
    height: 20px;
    position: relative;
}

.avatar{
    position: absolute;
    width: 13.23px;
    height: 16px;
    top: 2px;
    left: 3.39px;
}

.header_log-container{
    flex-flow: row;
    height: 40px;
    gap: 20px;
}

.cart{
    position: absolute;
    width: 21px;
    height: 19.5px;
    top: 2.25px;
    left: 1.5px;
}



.avatar-photo-wrapper{
    width: 40px;
}