.listing-page {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

.products-header {
    display: flex;
    align-items: center;
    padding: 70px 100px 10px 100px;
}

.products-title {
    font-size: 42px;
    font-weight: 600;
}

.vertical-line {
    border: 1px solid var(--border-color);
    height: 14px;
    width: 0px;
}

.products-sort-container {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 32px;
}

.results-found {
    font-size: 12px;
}

.dropdown-container {
    display: flex;
    flex-flow: column;
    height: max-content;
}

.dropdown-menu {
    display: flex;
    flex-flow: column;

    position: absolute;
    right: -15px;
    top: 30px;

    border-radius: 8px;
    border: 1px var(--border-color) solid;
    background-color: white;
}

.filter-applied {
    margin: 8px 100px;
    padding: 8px 10px 8px 16px;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 6px;
    border: 1px solid var(--border-color);
    border-radius: 50px;
    width: fit-content;
    font-size: 14px;
    color: var(--dark-blue2);
}

.filter-close {
    position: absolute;
    width: 6.75px;
    height: 6.75px;
    top: 2.63px;
    left: 2.63px;
}



.products-body {
    display: flex;
    flex-flow: column wrap;
    gap: 24px;
    flex-grow: 1;
    padding: 10px 100px 100px 100px;
}

.products-body_list {
    display: flex;
    flex-flow: row wrap;
    gap: 48px 24px;
    width: 1720px;
    flex-grow: 1;
}




