.overlay {
  position: fixed;
  inset: 0; 
  background-color: var(--overlay-bg-color);
  z-index: 1000;
}


.ShoppingCart-dialog {
  width: 540px;
  height: 1080px;
  background-color: #ffffff;
  border: none;
  border-left: 1px solid var(--border-color);
  padding: 0;
  z-index: 1000;
  margin-top: 0;
  margin-right: 0;
  top: 0;

  position: fixed;
}

.shoppingCart-container{
  padding: 40px;
  display: flex;
  flex-flow: column;
  height: 1000px;
}

.shoppingCart-title{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 63px;
}

.shoppingCart-title > p{
    font-size: 20px;
    font-weight: 500;
}

.shoppingCart-close{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 7px;
    left: 7px;
}





.shoppingCart-form{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
}


